<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1'>
  <link rel="stylesheet" href="styles/main.css">

  <title>Sites Unlimited Photography | Ric Kindle in Pensacola Florida</title>
  <meta name="description" content="Sites Unlimited Photography | Ric Kindle in Pensacola Florida">
  <!-- <link rel="canonical" href="https://sitesunlimited.com/"> Possibly reinstate once launched. -->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Sites Unlimited Photography | Ric Kindle in Pensacola Florida">
  <meta property="og:description" content="Sites Unlimited Photography | Ric Kindle in Pensacola Florida">
  <meta property="og:url" content="https://sitesunlimited.com/">
  <meta property="og:site_name" content="Sites Unlimited">
  <meta property="og:image" content="images/Studio-Pano-noise-removed-scaled.jpg">
  <meta property="article:publisher" content="https://www.facebook.com/storybooksound/">
  <meta property="article:modified_time" content="2020-11-01T13:03:26+00:00">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@StorybookSound">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script type="application/ld+json">
    {
      "@context":"https://schema.org",
      "@graph":[
        {
          "@type":"WebPage",
          "@id":"https://sitesunlimited.com/",
          "url":"https://sitesunlimited.com/",
          "name":"Sites Unlimited Photography | Ric Kindle in Pensacola Florida",
          "isPartOf": {
            "@id":"https://sitesunlimited.com/#website"
          },
          "about": {
            "@id":"https://sitesunlimited.com/#organization"
          },
          "datePublished": "2016-06-01T15:30:24+00:00",
          "dateModified": "2020-11-01T13:03:26+00:00",
          "description": "Sites Unlimited Photography | Ric Kindle in Pensacola Florida",
          "breadcrumb":{"@id":"https://sitesunlimited.com/#breadcrumb"},
          "inLanguage":"en-US",
          "potentialAction":[
            {"@type":"ReadAction",
            "target":["https://sitesunlimited.com/"]
          }]
        },
        {
          "@type":"BreadcrumbList",
          "@id":"https://sitesunlimited.com/#breadcrumb",
          "itemListElement": [
            {
              "@type":"ListItem",
              "position":1,"name":"Home"
            }
          ]
        },
        {
          "@type": "WebSite",
          "@id":"https://sitesunlimited.com/#website",
          "url":"https://sitesunlimited.com/",
          "name":"Sites Unlimited",
          "description":"Sites Unlimited Photography | Ric Kindle in Pensacola Fl",
          "publisher":{
            "@id":"https://sitesunlimited.com/#organization"},
            "potentialAction":[
              {"@type":"SearchAction",
              "target":{
                "@type":"EntryPoint",
                "urlTemplate":"https://sitesunlimited.com/?s={search_term_string}"},
                "query-input":"required name=search_term_string"}],
                "inLanguage":"en-US"},
                {
                  "@type":"Organization",
                  "@id":"https://sitesunlimited.com/#organization",
                  "name":"Sites Unlimited",
                  "url":"https://sitesunlimited.com/",
                  "sameAs":[
                    "https://www.instagram.com/storybooksound/",
                    "https://www.facebook.com/storybooksound/",
                    "https://twitter.com/StorybookSound"
                  ],
                  "logo":{
                      "@type": "ImageObject",
                      "inLanguage": "en-US",
                      "@id": "https://sitesunlimited.com/#/schema/logo/image/",
                      "url": "https://i1.wp.com/storybooksound.test/app/uploads/2014/04/favicon2.png?fit=380%2C380",
                      "contentUrl": "https://i1.wp.com/storybooksound.test/app/uploads/2014/04/favicon2.png?fit=380%2C380",
                      "width":380,"height":380,"caption":"Sites Unlimited"},
                      "image":{"@id":"https://sitesunlimited.com/#/schema/logo/image/"
                  }
              }
            ]
        }
      </script>

  <link rel="icon" href="images/logo-220x220.png" sizes="32x32">
  <link rel="icon" href="images/logo-220x220.png" sizes="192x192">
  <link rel="apple-touch-icon" href="images/logo-220x220.png">
  <meta name="msapplication-TileImage" content="images/logo-512x512.png">
</head>

<body class="{{ page.category | default: 'standard' }}">

  <header>
    <div class="brand">
      <a class="site-logo" href="." aria-label="Sites Unlimited | Audio mastering studio in Maplewood, NJ">
        <h1>Sites Unlimited</h1>
      </a>
      <h2>Ric Kindle, Photographer</h2>
      <h3>Pensacola, Florida</h3>
    </div>
    <nav>
      <ul class="menu">
        <li>
          <a class="menuItem" href="about.html">About</a>
        </li>
        <li>
          <a class="menuItem" href="contact.html">Contact</a>
        </li>
        <li>
          <a class="menuItem" href="rates.html">Rates</a>
        </li>
        <li>
          <a class="menuItem" href="portfolio.html">Portfolio</a>
        </li>
      </ul>
    </nav>

    <button class="hamburger">
      <!-- material icons https://material.io/resources/icons/ -->
      <i class="menuIcon material-icons" style="color:white">menu</i>
      <i class="closeIcon material-icons" style="color:white">close</i>
    </button>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>
      © <a href="https://sitesunlimited.com">Sites Unlimited</a> {{ 'now' | date: "%Y" }} <a
        href="mailto:info@sitesunlimited.com" title="https://sitesunlimited.com">info@sitesunlimited.com</a>
    </p>
  </footer>
  <script>
    const menu = document.querySelector("nav .menu");
    const menuItems = document.querySelectorAll(".menuItem");
    const hamburger = document.querySelector(".hamburger");
    const closeIcon = document.querySelector(".closeIcon");
    const menuIcon = document.querySelector(".menuIcon");

    function toggleMenu() {
      if (menu.classList.contains("showMenu")) {
        menu.classList.remove("showMenu");
        closeIcon.style.display = "none";
        menuIcon.style.display = "block";
      } else {
        menu.classList.add("showMenu");
        closeIcon.style.display = "block";
        menuIcon.style.display = "none";
      }
    }

    hamburger.addEventListener("click", toggleMenu);

    menuItems.forEach(
      function (menuItem) {
        menuItem.addEventListener("click", toggleMenu);
      }
    )
  </script>
</body>

</html>
