/* RESET */
* {
  box-sizing: border-box;
}

/* Gallery Styling */

#gallery {
  max-width: 1600px;
  /* Five columns */
  margin: auto;
}

#gallery h2 {
  text-align: center;
  text-transform: capitalize;
}

#gallery figure {
  border: 2px solid var(--brand-primary-light);
  border-radius: 5px;
  padding: 1em;
}

.gallery_set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery_set img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

#gallerydlg figure {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}



#dialog_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#gallerydlg figcaption {
  flex-shrink: 1;
  display: none;
}

#gallerydlg figcaption h4 {
  margin: 0;
  font-style: italic;
}

#gallerydlg figcaption h4::before {
  content: "== ";
}

#gallerydlg figcaption h4::after {
  content: " ==";
}

#gallerydlg figcaption h1 {
  margin: 0;
}

#gallerydlg figcaption h2 {
  margin-bottom: 0;
}

#gallerydlg figcaption .artist-link {
  display: block;
}

#gallerydlg figcaption .artist-link,
#gallerydlg figcaption h3 {
  text-align: right;
  padding-right: 1em;
}

.gallery-image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#gallery .gallery-image {
  width: 320px;
  height: 320px;
  cursor: pointer;
  background-position: center;
}

#gallerydlg .gallery-image {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

#gallerydlg .gallery-image.placeholder {
  box-shadow: inset 0 0 10px #888;
  display: none;
}

.placeholder h1 {
  font-size: 1.4em;
}

.placeholder h2 {
  font-size: 1em;
}

.gallery-image div {
  border: 2px solid #999;
  padding: 2em;
  text-align: center;
}

#gallerydlg .gallery-image {
  width: 90vw;
  height: 80vh;
}

#gallerydlg figure {
  width: 98vw;
  height: 98vh;
}

#gallerydlg figcaption {
  text-align: left;
}

#dlgcontent {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  align-items: center;
  justify-content: center;
}

#slides_nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

/* Close Button */
#gallerydlg .dialog_cancel {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--brand-primary);
  color: var(--white);
  border: none;
}

#gallerydlg .dialog_cancel:hover {
  background-color: var(--brand-primary-light);
  color: var(--brand-primary);
}

#slides_nav button {
  cursor: pointer;
  background-color: var(--brand-primary);
  color: var(--white);
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  font-size: 1em;
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
  opacity: 60%;
}

#slides_nav button:hover {
  opacity: 1;
  transition: all 0.6s ease;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #gallerydlg figure {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  #gallerydlg .gallery-image {
    flex-shrink: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  #gallerydlg figure {
    flex-direction: column;
  }

  #slides_nav button {
    cursor: pointer;
    background-color: var(--brand-primary);
    color: var(--white);
    border-radius: 50%;
    height: 2em;
    width: 2em;
    font-size: 1.2em;
    border: none;
    font-weight: heavy;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  #gallerydlg figure {
    flex-direction: row;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #gallerydlg figure {
    flex-direction: row;
  }

  #slides_nav button {
    cursor: pointer;
    background-color: var(--brand-primary);
    color: var(--white);
    border-radius: 50%;
    height: 3em;
    width: 3em;
    font-size: 1.5em;
    border: none;
    font-weight: heavy;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
